In [7]:
import duckdb

Example of Jupyter "magic command":

In [8]:
%pwd

'/Users/p_park/spring_2024/eds_213_data/bren-meds213-spring-2024-class-data/week3'

In [9]:
%ls

01_ASDN_Readme.txt        addition.sh          schema-build-script.sql
ASDN_Bird_eggs.csv        asdn-er-diagram.png  script_2.sql
ASDN_Bird_nests.csv       build-database*      site.csv
ASDN_Camp_assignment.csv  database.db          species.csv
HW/                       database.db.wal      sql-continued.sql
Untitled.ipynb            personnel.csv        theloop.sh

To install Duckdb module:

In [10]:
#%pip install duckdb

1. Create a connection and a cursor

In [11]:
conn = duckdb.connect("database.db")

In [12]:
conn

In [16]:
cur = conn.cursor()

Now let's do something with our cursor

In [17]:
cur.execute("SELECT * FROM Site LIMIT 5")

Now we want results... three ways of getting them.

1. All results at once

In [18]:
cur.fetchall()

[('barr',
  'Barrow',
  'Alaska, USA',
  71.30000305175781,
  -156.60000610351562,
  220.39999389648438),
 ('burn',
  'Burntpoint Creek',
  'Ontario, Canada',
  55.20000076293945,
  -84.30000305175781,
  63.0),
 ('bylo',
  'Bylot Island',
  'Nunavut, Canada',
  73.19999694824219,
  -80.0,
  723.5999755859375),
 ('cakr',
  'Cape Krusenstern',
  'Alaska, USA',
  67.0999984741211,
  -163.5,
  54.099998474121094),
 ('cari',
  'Canning River Delta',
  'Alaska, USA',
  70.0999984741211,
  -145.8000030517578,
  722.0)]

Cursors don't store anything, they just transfer queries to the database ang get results back.

In [19]:
cur.fetchall()

[]

In [22]:
cur.execute("SELECT Nest_ID FROM Bird_nests LIMIT 10")

In [23]:
cur.fetchall()

[('14HPE1',),
 ('11eaba',),
 ('11eabaagc01',),
 ('11eabaagv01',),
 ('11eababbc02',),
 ('11eababsv01',),
 ('11eabaduh01',),
 ('11eabaduv01',),
 ('11eabarpc01',),
 ('11eabarpc02',)]

In [25]:
cur.execute("SELECT Nest_ID FROM Bird_nests LIMIT 10")
[t[0] for t in cur.fetchall()]

#how to read: for each tuple 't', in cur.fetchall(), give me the first element.

['14HPE1',
 '11eaba',
 '11eabaagc01',
 '11eabaagv01',
 '11eababbc02',
 '11eababsv01',
 '11eabaduh01',
 '11eabaduv01',
 '11eabarpc01',
 '11eabarpc02']

2. Get the one result, or the next result

In [27]:
cur.execute("SELECT COUNT(*) FROM Bird_nests")
cur.fetchone()

(1547,)

In [29]:
cur.execute("SELECT COUNT(*) FROM Bird_nests")
cur.fetchone()[0]

1547

3. Using an iterator - but Duckdb doesn't support iterators :(

In [30]:
cur.execute("SELECT Nest_ID FROM Bird_nests LIMIT 10")
for row in cur:
    print(f"got {row[0]}")
#this does not work

TypeError: 'duckdb.duckdb.DuckDBPyConnection' object is not iterable

In [32]:
cur.execute("SELECT Nest_ID FROM Bird_nests LIMIT 10")
while True:
    row = cur.fetchone()
    if row == None:
        break
    #do something with row
    print(f"got nest ID {row[0]}")

got nest ID 14HPE1
got nest ID 11eaba
got nest ID 11eabaagc01
got nest ID 11eabaagv01
got nest ID 11eababbc02
got nest ID 11eababsv01
got nest ID 11eabaduh01
got nest ID 11eabaduv01
got nest ID 11eabarpc01
got nest ID 11eabarpc02

Can do things other than SELECT!

In [33]:
cur.execute("""
    CREATE TEMP TABLE temp_table AS
    SELECT * FROM Bird_nests LIMIT 10
""")

In [34]:
cur.execute("SELECT * FROM temp_table")

In [36]:
cur.fetchall()

[]

A note on fragility

For example:
INSERT INTO Site VALUES ("abcd", "FOO", 35.7, -119.5, "?")

A less fragile way of expressing the same thing:
INSERT INTO Site (Code, Site_name, Latitude, Longitude, Something_else)
    VALUES ("abcd", "FOO", 35.7, -119.5, "?")
    
In the same vein: SELECT * is fragile

In [37]:
cur.execute("SELECT * FROM Site LIMIT 3")
cur.fetchall()

[('barr',
  'Barrow',
  'Alaska, USA',
  71.30000305175781,
  -156.60000610351562,
  220.39999389648438),
 ('burn',
  'Burntpoint Creek',
  'Ontario, Canada',
  55.20000076293945,
  -84.30000305175781,
  63.0),
 ('bylo',
  'Bylot Island',
  'Nunavut, Canada',
  73.19999694824219,
  -80.0,
  723.5999755859375)]

In [38]:
cur.execute("SELECT Site_name, Code, Latitude, Longitude, FROM Site LIMIT 3")
cur.fetchall()

[('Barrow', 'barr', 71.30000305175781, -156.60000610351562),
 ('Burntpoint Creek', 'burn', 55.20000076293945, -84.30000305175781),
 ('Bylot Island', 'bylo', 73.19999694824219, -80.0)]

An extended example: Question we're trying to answer: How many nests do we have for each species?

Approach: first get all species. Then execute a count query for each species.

A digression: string interpolation in Python

In [42]:
s = "My name is %s"
print(s % "Patty")

s = "My name is %s and my professor's name is %s"
print(s % ("Patty", "Greg"))

#the new f-string
name = "Patty"
print(f"My name is {name}")
#Third way
print("My name is {}".format("Patty"))

My name is Patty
My name is Patty and my professor's name is Greg
My name is Patty
My name is Patty

In [44]:
query = """
    SELECT COUNT(*) FROM Bird_nests
    WHERE Species = '%s'
"""
cur.execute("SELECT Code FROM Species LIMIT 3")
for row in cur.fetchall(): #duckdb workaround
    code = row[0]
    prepared_query = query % code
    #print(prepared_query)
    cur2 = conn.cursor()
    cur2.execute(prepared_query)
    print(f"Species {code} has {cur2.fetchone()[0]} nests")
    cur2.close()

Species agsq has 0 nests
Species amcr has 0 nests
Species amgp has 29 nests

In [45]:
query = """
    SELECT COUNT(*) FROM Bird_nests
    WHERE Species = ?
"""
cur.execute("SELECT Code FROM Species LIMIT 3")
for row in cur.fetchall(): #duckdb workaround
    code = row[0]
    # not needed! prepared_query = query % code
    #print(prepared_query)
    cur2 = conn.cursor()
    cur2.execute(query, [code]) #<---- added argument here
    print(f"Species {code} has {cur2.fetchone()[0]} nests")
    cur2.close()

Species agsq has 0 nests
Species amcr has 0 nests
Species amgp has 29 nests

Let's illustrate the danger with a different example

In [47]:
abbrev = "TS"
name = "Taylor Swift"
cur.execute("""
    INSERT INTO Personnel (Abbreviation, Name)
    VALUES ('%s', '%s')
    """ % (abbrev, name)
           )

ConstraintException: Constraint Error: Duplicate key "Abbreviation: TS" violates primary key constraint. If this is an unexpected constraint violation please double check with the known index limitations section in our documentation (https://duckdb.org/docs/sql/indexes).

In [ ]:
abbrev = "CO"
name = "Conan O'Brien"
cur.execute("""
    INSERT INTO Personnel (Abbreviation, Name)
    VALUES ('%s', '%s')
    """ % (abbrev, name)
           )